#header-logo-container {
    width: 25%;
    height: 2%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 15px;
}

#header-logo-title {
    color: #ffffff;
    width: auto;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 32px;
}

#header-logo-image {
    width: 52px;
    height: 36px;
}