#main-card-container {
    background-color: #ffffff;
    border-radius: 15px;
    width: 300px;
    height: 442px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-align: center;
}

#card-image {
    width: 260px;
    height: 260px;
    background-color: white;
}

#descripition-card{
    color: #333333;
    width: 242px;
    height: 42px;
    font-weight: 16px;
    background-color: #ffffff;
}

#price-card{
    color: #000000;
    width: 91px;
    height: 25px;
    font: weight 300;
    background-color: #ffffff;
}

#buy-button-card{
    color: #ffffff;
    width: 260px;
    height: 42px;
    font-size: larger;
    font-weight: bold;
    background-color: #F8375D;
    border-radius: 5px;
}

#buy-button-card:hover {
    cursor: pointer;
}